<div class="ndl-holdings">
  <h3 class="ndl-debug">Debug ID: <%= @tab.record_id %></h3>
  hi
  <% @tab.institution_holdings("code").each do |holding| %>
    <%= render partial: 'institution', locals: { institution: "ndu", holding: holding } %>
  <% end %>
</div>
