
.EXLBrowseList .EXLSearchFieldRibbonFormFields {
  width: auto;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  // width: 98%;
}

.EXLBrowseList #exlidResultsContainer {
  width:760px !important;
  margin:0 auto;
}

.EXLBrowseList #resultsTileNoId {
  border:none;
}
