
.ndl-browse-search .EXLSearchFieldRibbonFormFields {
  width: auto;
}

.ndl-browse-search .EXLSearchTabsContainer {
  background:url("https:asset.library.nd.edu/assets/hesburgh_assets/main/1.0/search_appliance/ndcatalog.png") no-repeat 5px 10px;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  // width: 98%;
}

.ndl-browse-search .EXLSearchFieldRibbonFormSearchFor {
  width: 361px;
  position: relative;
  border: none;
}

.ndl-browse-search .EXLBrowseSearchFieldRibbonFormSearchClear {
  position: absolute;
  top: 5px;
  right: 0;
}

.ndl-browse-search #exlidBrowseResultsEnteries {
  width:760px !important;
  margin:0 auto;
}

.ndl-browse-search #resultsTileNoId {
  border:none;
}

.ndl-browse-search .EXLSearchFieldRibbonFormFields {

}

.EXLAdvancedBrowseRibbon {
  width:740px !important;
}

.ndl-browse-search #help-box {
  display: none;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
  border: none;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
  line-height: 210% !important;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  width:100%;
  height: 36px;
}

.ndl-browse-search  #exlidAdvancedSearchRibbon fieldset div.EXLSearchFieldRibbonFormSubmitSearch {
  margin-top:-46px !important;
  margin-right:14px;
}

.ndl-browse-search #exlidAdvancedSearchTile  {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #F8F7E9;
  border-top: 1px solid #adb9c2;
}


//#exlidAdvancedSearchRibbon {
//    list-style: none outside none !important;
//    margin-bottom: 1.12em;
//    padding: 0;
//    position: relative;
//    z-index: 1;
//
//    .EXLBrowseFieldRibbon  {
//
//      //position: relative;
//      border-radius: 0;
//      box-shadow: none;
//      z-index: auto;
//      padding:16px !important;
//      margin-bottom: 40px;
//      list-style: none outside none !important;
//      box-sizing:border-box;
//      height: 70px;
//    }
//
//   .EXLBrowseFieldRibbon:before,
//   .EXLBrowseFieldRibbon:after {
//      z-index: -1;
//      position: absolute;
//      content: "";
//      bottom: 15px;
//      left: 10px;
//      width: 50%;
//      top: 80%;
//      max-width:300px;
//      background: rgba(0, 0, 0, 0.7);
//      -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
//      -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
//      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
//      -webkit-transform: rotate(-3deg);
//      -moz-transform: rotate(-3deg);
//      -o-transform: rotate(-3deg);
//      -ms-transform: rotate(-3deg);
//      transform: rotate(-3deg);
//    }
//
//    .EXLBrowseFieldRibbon:after {
//      -webkit-transform: rotate(3deg);
//      -moz-transform: rotate(3deg);
//      -o-transform: rotate(3deg);
//      -ms-transform: rotate(3deg);
//      transform: rotate(3deg);
//      right: 10px;
//      left: auto;
//    }
//  }
