
.EXLBrowseSearch .EXLSearchFieldRibbonFormFields {
  width: auto;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  // width: 98%;
}

.EXLBrowseSearch #exlidBrowseResultsEnteries {
  width:760px !important;
  margin:0 auto;
}

.EXLBrowseSearch #resultsTileNoId {
  border:none;
}

.EXLBrowseSearch .EXLSearchFieldRibbonFormFields {
  width: 100% !important;
}

.EXLAdvancedBrowseRibbon {
  width:740px !important;
}

.EXLBrowseSearch #help-box {
  display: none;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
  border: none;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
  line-height: 210% !important;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  width:85%;
  height: 36px;
}

.EXLBrowseSearch  #exlidAdvancedSearchRibbon fieldset div.EXLSearchFieldRibbonFormSubmitSearch {
  margin-top:-46px !important;
}

.EXLBrowseSearch #exlidAdvancedSearchTile, .EXLBrowseSearch #exlidAdvancedSearchTile {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #F8F7E9;
}
