.ndl-request {
  form {
    width: auto;
  }

  // Customizations for Primo's date picker
  .dp-choose-date {
    float: none;
    display: inline-block;
    overflow: initial;
    margin: 0 3px;
    padding-top: 2px;
  }
}

.ndl-request-failure {
  color: #A00;
}

.ndl-request-success {
  color: #0A0;
}

.ndl-request-loading {
  display: inline-block;
  background-image: url(/assets/ajax-loader.gif);
  width: 16px;
  height: 16px;
}

.ndl-request-row {
  margin-bottom:0.5em;
}

.ndl-request-label {
  display: inline-block;
  width: 150px;
  padding-right: 25px;
  text-align: right;
}

.ndl-request-help {
  font-style: italic;
  font-size: .8em;
}
