.ndl-request-failure {
  color: #A00;
}

.ndl-request-success {
  color: #0A0;
}

.ndl-request-loading {
  display: inline-block;
  background-image: url(/assets/ajax-loader.gif);
  width: 16px;
  height: 16px;
}

.ndl-request-row {
  margin-bottom:0.5em;
}

.ndl-request-label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
