// Hide the original tabs
.EXLTabsRibbon {
  .EXLDetailsTab, .EXLViewOnlineTab, .EXLLocationsTab {
    display: none;
  }
}

// Hide debug text by default
.ndl-debug {
  display: none;
}

// Make the tab container the height of its content rather than scrolling
.EXLSummary {
  .ndl-details-tab-Container .EXLTabContent, .ndl-online-access-tab-Container .EXLTabContent {
    height: auto;
    overflow: hidden;
  }
}

.ndl-details, .ndl-online-access {
  padding: 5px;

  h2 {
    font-size: 1.25em;
    padding-top: 0.66667rem;
    margin-bottom: 0.66667rem;
    margin-left:15px;
  }

  h3 {
    font-size: 1.1em;
    margin-bottom: 0.25em;
  }

  .ndl-debug {
    text-align: right;
  }
  a {
    text-decoration: underline;
  }
}

.ndl-online-access {

  ul {
    padding-left: 1.5em;
    list-style: none;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin-bottom: 0.5em;

    li {
      margin-bottom: 0;
    }
  }
}


.ndl-details-list {
  margin-bottom: 0;
  list-style-position: outside;
  font-family: inherit;
  display: block;

  dt {
    font-weight: bold;
    text-align: right;
    width: 10em;
    float: left;
    clear: left;
  }

  dt:after {
    content:":";
  }

  dd {
    margin-bottom: 0.66667rem;
    margin-left: 11em;

    li {
      list-style: none;
    }
    dt {
      width:5%;
      clear: left;
      text-align: left;
    }
    dd {
      width:91%;
    }
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.ndl-hierarchical-search {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding-left: 0.5em;
  }

  .ndl-hover {
    a {
      text-decoration: underline;
    }
  }

  li:before {
    padding-right: 0.5em;
    content: '>';
    color: #999;
  }

  li:first-child {
    padding: 0;
  }

  li:first-child:before {
    content: '';
    padding: 0;
  }
}

.ndl-link-box {
  float: right;
  width: 25%;
  border: 1px solid #e1e1e1;
  margin: 1em;
  background-image: url(bg_strip_details_links.png);
  background-repeat: repeat-x;
  background-position: bottom;
  height: auto;
  padding: 0.5em;
  padding-bottom: 1em;

  li {
    list-style: none;
  }
}

.ndl-hidden {
  display: none;
}

.ndl-cancel_date_input {
  display:none;
}

.ndl-cancel_date_input_help {
  font-style:italic;
  font-size: .8em;
}
