// Hide the original tabs
.EXLTabsRibbon, body.EXLFullView div.EXLTabsRibbon div {
  .EXLDetailsTab, .EXLViewOnlineTab, .EXLLocationsTab {
    display: none;
  }
}

// Hide debug text by default
.ndl-debug {
  display: none;
}

// Make the tab container the height of its content rather than scrolling
.EXLSummary {
  .ndl-details-tab-Container .EXLTabContent, .ndl-online-access-tab-Container .EXLTabContent {
    height: auto;
    overflow: hidden;
  }
}

.ndl-details, .ndl-online-access, .ndl-request-container .ndl-holdings {
  padding: 5px;

  .ndl-debug {
    text-align: right;
  }
  a {
    text-decoration: underline;
  }
}

.ndl-online-access {

  ul {
    padding-left: 1.5em;
    list-style: none;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin-bottom: 0.2em;

    li {
      margin-bottom: 0;
    }
  }
}

.ndl-online-access-disclaimer {
  background: none repeat scroll 0 0 #FFEDB8;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #E0CE99;
}

.ndl-sfx img {
  vertical-align: middle;
  margin-left: 5px;
}

.ndl-details-list {
  margin-bottom: 0;
  list-style-position: outside;
  font-family: inherit;
  display: block;

  dt {
    font-weight: bold;
    text-align: right;
    width: 10em;
    float: left;
    clear: left;
  }

  dt:after {
    content:":";
  }

  dd {
    margin-bottom: 0.66667rem;
    margin-left: 11em;

    li {
      list-style: none;
    }
    dt {
      width:5%;
      clear: left;
      text-align: left;
    }
    dd {
      width:91%;
    }
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.ndl-hierarchical-search {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding-left: 0.5em;
  }

  .ndl-hover {
    a {
      text-decoration: underline;
    }
  }

  li:before {
    padding-right: 0.5em;
    content: '>';
    color: #999;
  }

  li:first-child {
    padding: 0;
  }

  li:first-child:before {
    content: '';
    padding: 0;
  }
}

.ndl-link-box {
  float: right;
  min-width: 25%;
  border: 1px solid #e1e1e1;
  margin: 1em;
  background-image: image_url('primo/bg_strip_details_links.png');
  background-repeat: repeat-x;
  background-position: bottom;
  height: auto;
  padding: 0.5em;
  padding-bottom: 1em;
  line-height: 1.8em;

  li {
    list-style: none;
  }
}

.ndl-hidden {
  display: none;
}

.ndl-holdings {
  font-family: sans-serif;
  padding:0 1.5em;

  h2 {
    font-size:20px;
    margin:19px 0;
  }

  h4 {
    font-size:16px;
    margin:21px 0 4px;
  }

  .call-number {
    font-size:14px;
  }

  .label {
    color:#fff;
    font-weight: bold;

    padding:4px 5px 3px;
    border-radius: 3px;
    font-size:11px;
    font-family: sans-serif;
    line-height: 1em;
    margin-top:5px;
    display:inline-block;
  }

  .label-success {
    background-color:#53B350;
  }

  .label-warning {
    background-color: #F6B135;
  }

  .label-danger {
    background-color:#E1463D;
  }

  .btn-default {
    background:#fff;
    border:#CBCBCB solid 1px;
    border-radius:3px;
    font-size: 14px;
    text-decoration: none;
    color:#333;
    line-height:1em;
    vertical-align: baseline;
    font-weight: normal;
  }

  button.btn-default {
    padding: 2px 4px 3px;
  }

  a.btn-default {
        padding:5px 6px 1px;
        box-sizing: border-box;
        margin-top: -1px;

      }

  .more {
    text-decoration: none;
    font-size:14px;
    color:#0085B2;
  }

  .well {
    padding:0px 18px;

    a.btn-default {
      padding:9px 10px 5px;
    }

    h5 {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .pull-right {
      float: right;
    }

    .list-unstyled {
      margin:0;
    }

  }

  .collapse {
    overflow:hidden;
  }

  .list-unstyled {
      padding:0;
      list-style: none;
      margin-top: 0;

      li {
        font-size: 13px;
      }
    }
  .holding {
    margin-bottom: 25px;
    margin-left: 20px;
  }
}
