<% content_for(:title, @record.page_title) %>
<h1>Select Volume/Issue</h1>
<p>This work has multiple volumes/issues.  Please select the volume issue want to receive. </p>

<ul class="hold-volumn">
  <li>
    <%= link_to "Volume 1", step2_path(@record.url_params( volume: '1')) %>
  </li>
  <li>
    <%= link_to "Volume 2", step2_path(volume: '2') %>
  </li>
</ul>

