<% content_for(:title, @record.page_title) %>
<h1>Select Pickup Location</h1>

<ul>
  <li>Get: Title Volume 1</li>
  <li>From: Note Dame</li>
</ul>

<p> You can pick up this work from seveal locations</p>

<ul class="hold-pickup">

  <li>
    <%= link_to "Hesburgh Library", step4_path %>
  </li>
  <li>
    <%= link_to "A Branch", step4_path %>
  </li>
  <li>
    <%= link_to "My Office", step4_path %>
  </li>
</ul>
