<% content_for(:title, @record.page_title) %>
<h1>Select Delivery Library</h1>
<p> This work can be delivered from more then one partner library.  Please select the library you wish to get the work from.  Closer libraries will have a shorter deliver time.</p>
<ul>
  <li>Get: Title Volume 1</li>
</ul>
<ul class="hold-copy">

  <li>
    <%= link_to "Notre Dame", step3_path %>
  </li>
  <li>
    <%= link_to "Saint Mary's", step3_path %>
  </li>

</ul>
