<% content_for(:title, @record.page_title) %>
<h1>Select Volume/Issue</h1>
<p>This work has multiple volumes/issues.  Please select the volume issue want to receive. </p>

<p>
  <%= select_tag(:volume, @record.volume_option_tags, prompt: "Select Volume") %>
</p>

<ul class="hold-volume">
  <% @record.volumes.each do |volume| %>
    <li>
      <%= link_to volume.description, step2_path(@record.url_params( volume: volume.enumeration)) %>
    </li>
  <% end %>
</ul>

