<div class="ndl-online-access">
  <h3 class="ndl-debug">Debug ID: <%= @tab.record_id %></h3>

  <% if institution = @tab.primary_institution_links %>
    <%= render partial: 'institution', locals: { institution: institution, held_flag: @tab.held_by_institution? } %>
  <% end %>
  <%
  other_institutions_content = []
  @tab.other_institutions_links.each do |institution|
    content = render partial: 'institution', locals: { institution: institution, held_flag: false }
    if content.present?
      other_institutions_content << content
    end
  end
  %>
  <% if other_institutions_content.present? %>
    <% other_institutions_content.each do |content| %>
      <%= content %>
    <% end %>
  <% end %>
</div>
