<div class="ndl-online-access">
  <h3 class="ndl-debug">Debug ID: <%= @tab.record_id %></h3>

  <% if institution = @tab.primary_institution %>
    <%= render partial: 'institution', locals: { institution: institution } %>
  <% end %>
  <% @tab.other_institutions.each do |institution| %>
    <%= render partial: 'institution', locals: { institution: institution } %>
  <% end %>
</div>
