<div class="ndl-online-access">
  <h3 class="ndl-debug">Debug ID: <%= @tab.record_id %></h3>
  <%
  other_institutions_content = []
  @tab.other_institutions_links.each do |institution|
    content = render partial: 'other_institution', locals: { institution: institution, held_flag: false }
    if content.present?
      other_institutions_content << content
    end
  end
  %>
  <% if institution = @tab.primary_institution_links %>
    <% other_content_flag = false %>
    <% if other_institutions_content.present? %>
      <% other_content_flag = true %>
    <% end %>
    <%= render partial: 'institution', locals: { institution: institution, held_flag: @tab.held_by_institution?, other_flag: other_content_flag } %>
  <% end %>
  <% if other_institutions_content.present? %>
    <h2>Partner Libraries</h2>
    <% other_institutions_content.each do |content| %>
      <%= content %>
    <% end %>
  <% end %>
</div>
