#thirdbanner {
  BORDER-RIGHT: 0px;
  BORDER-TOP: 0px;
  BACKGROUND: url(http://www.bethelcollege.edu/academics/library/images/banner.gif) no-repeat;
  BORDER-LEFT: 0px;
  WIDTH: 960px;
  BORDER-BOTTOM: 0px;
  HEIGHT: 54px;
}

#bowen_banner {
  BORDER-RIGHT: 0px;
  BORDER-TOP: 0px;
  TEXT-ALIGN: left;
  BORDER-LEFT: 0px;
  WIDTH: 960px;
  BORDER-BOTTOM: 0px;
  HEIGHT: 25px;
}

.main {
  width: 990px;
}

.EXLResult .EXLRequestTab, .EXLResult .ndl-request-tab {
  display: none;
}
.EXLSearchFieldRibbonAdvancedSearchLink {
  margin:0 1em 0 0;
  float: left;
  width: auto;
}

.EXLSearchFieldRibbonBrowseSearchLink {
  float: left;
  width: auto;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
  padding-top:1em;
}

.EXLSearchFieldRibbonBrowseSearchLink a {
  padding-top: 1em;
  font-size: 12.3px;
}


#exlidMainMenuTile {
  width:20em;
}

#exlidMainMenuTile div.EXLMainMenuContainer {
  width: 100%;
}
