
.ndl-browse-search .EXLSearchFieldRibbonFormFields {
  width: auto;
}

.EXLAdvancedBrowseRibbon {
  width:740px !important;
}

.ndl-browse-search .EXLSearchFieldRibbonFormFields {
  width: 100% !important;
}


.EXLSearchFieldRibbonFormLinks {
  margin:0;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
  margin:0;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
  height: auto;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  height: 38px;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input.submit {
  height: 38px;
  margin-top:-53px;
}

.EXLSearchFieldRibbonFormSearchFor {
  width:50%;
}

#exlidAdvancedSearchTile .EXLSearchFieldRibbonFormSubmitSearch {
  width: 10%;
}

#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
  box-sizing:border-box;
  float: left;
  min-height: auto;
  padding:1em;
}

.EXLSearchFieldRibbonFormFields {
  height: auto;
}

#exlidAdvancedSearchRibbon fieldset div.EXLSearchFieldRibbonFormSubmitSearch {
  margin:0 1em;
}
/*
.ndl-browse-search #resultsTileNoId {
  border:none;
}


.ndl-browse-search #exlidBrowseResultsEnteries {
  width:760px !important;
  margin:0 auto;
}


.ndl-browse-search #help-box {
  display: none;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
  border: none;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
  line-height: 210% !important;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  width:85%;
  height: 36px;
}

.ndl-browse-search  #exlidAdvancedSearchRibbon fieldset div.EXLSearchFieldRibbonFormSubmitSearch {
  margin:0;
}

.ndl-browse-search #exlidAdvancedSearchTile, .ndl-browse-search #exlidAdvancedSearchTile {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #F8F7E9;
}

.EXLSearchFieldRibbonFormLinks {
  margin-left:0;
  margin-top:0 !important;
}*/
