#thirdbanner {
  BORDER-RIGHT: 0px;
  BORDER-TOP: 0px;
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/banner.gif) no-repeat;
  BORDER-LEFT: 0px;
  WIDTH: 800px;
  BORDER-BOTTOM: 0px;
  HEIGHT: 54px;
}

#beacon {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/beacon.jpg) no-repeat;
}

#helm {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/helm.jpg) no-repeat;
}

#pilotradio {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/pilotradio.jpg) no-repeat;
}

#studentmedia {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/studentmediaheader.jpg) no-repeat;
}

#adult {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/adultheader_new.jpg) no-repeat;
}

#artheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/artheader.jpg) no-repeat;
}

#aslheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/aslheader.jpg) no-repeat;
}

#bibstudies {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/biblicalstudies.jpg) no-repeat;
}

#businessheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/businessheader.jpg) no-repeat;
}

#christianministriesheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/christianministriesheader.jpg) no-repeat;
}

#communicationheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/comm_header.jpg) no-repeat;
}

#englishheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/english_header.jpg) no-repeat;
}

#fineartsheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/fineartsheader.jpg) no-repeat;
}

#foreignheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/foreign_header.jpg) no-repeat;
}

#genesiansheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/genesiansheader.jpg) no-repeat;
}

#generalheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/general_header.jpg) no-repeat;
}

#history_header {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/history_header.jpg) no-repeat;
}

#internationalstudiesheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/internationalstudiesheader.jpg) no-repeat;
}

#languageheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/languageheader.jpg) no-repeat;
}

#libraryheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/libraryheader.jpg) no-repeat;
}

#lifeheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/life_header.jpg) no-repeat;
}

#mathheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/mathematical_header.jpg) no-repeat;
}

#msnheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/msnheader.jpg) no-repeat;
}

#musicheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/musicheader.jpg) no-repeat;
}

#musicministryheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/musicministryheader.jpg) no-repeat;
}

#musicperformanceheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/musicperformanceheader.jpg) no-repeat;
}

#philosophyheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/philosophyheader.jpg) no-repeat;
}

#physicalheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/physical_header.jpg) no-repeat;
}

#psychology_header {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/Psychology_header.jpg) no-repeat;
}

#registrationheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/registrationheader.jpg) no-repeat;
}

#scienceheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/scienceheader.jpg) no-repeat;
}

#ssheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/socialheader.jpg) no-repeat;
}

#theatreheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/theatreheader.jpg) no-repeat;
}

#wanheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/wanheader.jpg) no-repeat;
}

#youthministryheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/youthministryheader.jpg) no-repeat;
}

#business_socialHeader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/business_socialHeader.jpg) no-repeat;
}

#educationheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/educationheader.jpg) no-repeat;
}

#nursingheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/nursingheader.jpg) no-repeat;
}

#religionphilheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/religionphilheader.jpg) no-repeat;
}

#art_sceinceHeader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/art_sceinceHeader.jpg) no-repeat;
}

#gradMinheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/grad/gradMinheader.jpg) no-repeat;
}

#gradMatsheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/grad/gradMatsheader.jpg) no-repeat;
}

#gradMedheader {
  BACKGROUND: url(http://www.bethelcollege.edu/secondary/images/header/medheader.jpg) no-repeat;
}

#gradMatheader {
  BACKGROUND: url(http://www.bethelcollege.edu/secondary/images/header/matheader.jpg) no-repeat;
}

#MBAheader {
  BACKGROUND: url(http://www.bethelcollege.edu/thirdlevel/images/header/MBAheader.jpg) no-repeat;
}

#maincontent H1 {
  DISPLAY: block;
  MARGIN-BOTTOM: 7px;
  MARGIN-LEFT: -12px;
  WIDTH: 417px;
  TEXT-INDENT: -9999px;
  HEIGHT: 107px;
  TEXT-DECORATION: none;
}

#maincontent H2 {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 16px;
  BACKGROUND: none transparent scroll repeat 0% 0%;
  MARGIN-BOTTOM: 5px;
  PADDING-BOTTOM: 5px;
  PADDING-TOP: 5px;
  HEIGHT: 20px;
}

DIV.mainheight {
  VERTICAL-ALIGN: top;
  HEIGHT: 720px;
}

P#breadcrumbs {
  PADDING-LEFT: 0px;
  FONT-SIZE: 0.8em;
  MARGIN: 0px 0px;
}
