<h1>Example Records</h1>

<table>
  <thead></thead>
  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= example.id %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
