.EXLResult {
  .EXLReviewsTab, .EXLOldReviewsTab {
    display: none;
  }
}

.ndl-details {
  padding: 5px;
}

.ndl-hierarchical-search {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding: 0 .2em;
  }
}

dl {
  line-height: 1.6;
  margin-bottom: 1.11111rem;
  list-style-position: outside;
  font-family: inherit;
  display: block;

  dt {
    font-weight: bold;
    display: block;
  }

  dd {
    margin-bottom: 0.66667rem;
    display: block;
  }
}
