.EXLResult {
  .EXLReviewsTab, .EXLOldReviewsTab {
    display: none;
  }
}

.ndl-details-tab-Container .EXLTabContent {
  height: auto;
}

.ndl-details {
  padding: 5px;
  margin-bottom: 0;
  list-style-position: outside;
  font-family: inherit;
  display: block;

  dt {
    font-weight: bold;
    display: block;
  }

  dd {
    margin-bottom: 0.66667rem;
    display: block;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.ndl-hierarchical-search {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding-right: 0.5em;
  }

  li:after {
    padding-left: 0.5em;
    content: '>';
    color: #999;
  }

  li:last-child:after {
    content: '';
  }
}
