.ndl-details-tab-Container .EXLTabContent {
  height: auto;
}

.ndl-details {
  padding: 5px;
  margin-bottom: 0;
  list-style-position: outside;
  font-family: inherit;
  display: block;

  dt {
    font-weight: bold;
    display: inline-block;
    text-align:right;
    width:25%;
    vertical-align: top;
  }
  dt:after {
    content:":";
  }

  dd {
    margin-bottom: 0.66667rem;
    display: inline-block;
    width:70%;
    li {
      list-style: none;
    }
    dt {
      width:5%;
    }
    dd {
      width:90%;
    }
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.ndl-hierarchical-search {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    padding-left: 0.5em;
  }

  .ndl-hover {
    a {
      text-decoration: underline;
    }
  }

  li:before {
    padding-right: 0.5em;
    content: '>';
    color: #999;
  }

  li:first-child {
    padding: 0;
  }

  li:first-child:before {
    content: '';
    padding: 0;
  }
}

.ndl-hidden {
  display: none;
}
