.EXLResult {
  .EXLReviewsTab, .EXLOldReviewsTab {
    display: none;
  }
}

// Show the original tabs in development mode
.EXLTabsRibbon, body.EXLFullView div.EXLTabsRibbon div {
  .EXLDetailsTab, .EXLViewOnlineTab, .EXLLocationsTab {
    display: inline;

    a {
      font-size: 8px !important;
    }

    a:after {
      content: " (orig)";
    }
  }

  // We don't run the request tab detection javascript in development, so show it by default
  .ndl-request-tab {
    display: inline;
  }
}

.ndl-debug {
  display: block;
}
